@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
body {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    /* font-family: Hack, monospace; */
    font-family: 'Edu SA Beginner', cursive;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Edu SA Beginner', cursive;
    background: #ededed;
  }

.navbar {
    color: #727272;
    text-align: center;
    margin: 0 auto;
  }
  
.navbar p {
    font-size: 96px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
  }

.navbar p::before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: cyan;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }
.navbar p:hover::before {
    width: 100%;
  }
  
.navbar nav {
    margin: 25px;
    background: #f9f9f9;
    padding: 16px;
  }
.navbar nav .menuItems {
    list-style: none;
    display: flex;
  }
.navbar nav .menuItems li {
    margin: 50px;
  }
.navbar nav .menuItems li a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
  }
.navbar nav .menuItems li a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: cyan;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }
.navbar nav .menuItems li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  
.home {
  width: 50%;
  margin: auto;
  border: 1px grey;
  padding: 10px;
  font-family: 'Cambay', sans-serif;
  font-weight: 200;
  }

  .home img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  

  