@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 50vh;
    font-family: 'Edu SA Beginner', cursive;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/linjdiana/phase5/main/project%20images/pexels-photo-1131406.webp");
    background-size: 130%;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* body {
    font-family: 'Edu SA Beginner', cursive;
    background: #ededed;
  } */

.navbar {
    color: #727272;
    text-align: center;
    margin: 0 auto;
    /* background-image: url("https://raw.githubusercontent.com/linjdiana/phase5/main/project%20images/pexels-photo-1131406.webp"); */
    border-radius: 25px;
  }
  
.navbar p {
    font-size: 80px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
  }

.navbar p::before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: rgb(213, 105, 213);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }
.navbar p:hover::before {
    width: 100%;
  }
  
.navbar nav {
    margin: 20px;
    background: whitesmoke;
    border-radius: 25px;
    padding: 16px;
    /* background-image: url("https://raw.githubusercontent.com/linjdiana/phase5/main/project%20images/pexels-photo-1131406.webp"); */
  }
.navbar nav .menuItems {
    list-style: none;
    display: flex;
  }
.navbar nav .menuItems li {
    margin-left: 55px;
    margin-right: 55px;
  }
.navbar nav .menuItems li a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
  }
.navbar nav .menuItems li a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: cyan;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }
.navbar nav .menuItems li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  
.home {
  width: 50%;
  margin: auto;
  border: 1px grey;
  padding: 10px;
  font-family: 'Cambay', sans-serif;
  font-weight: 200;
  }

  .home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  .reviewform {
    margin-top: 60px;
    background-image: url("https://raw.githubusercontent.com/linjdiana/phase5/main/project%20images/pexels-photo-1131406.webp");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 420px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1.15rem;
    box-shadow: 0 -0.5rem 1rem rgba(0 0 0 / 0.18);
    border-radius: 20px;
    font-size: 28px;
    border: 1px solid rgb(218, 181, 206);
  }

  .contactpage {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .contactpage header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    font-size: 22px;
  }
  
  .contactpage header > div {
    font-size: 20px;
    width: 324px;
    text-align: center;
    margin: 0 auto;
  }
  
  .contactpage footer {
    width: 360px;
    position: relative;
    margin: 0 auto;
    padding: 10px 4px;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .contactpage footer .score {
    justify-content: center;
    display: flex;
  }
  
  .contactpage footer .score div {
    padding: 8px;
  }
  
  .contactpage footer .restart {
    display: flex;
    justify-content: center;
  }
  
  .contactpage .container {
    border: 1px solid #DEDEDE;
    padding: 12px;
    box-shadow: 0 0 4px 4px #DEDEDE;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    gap: 1rem;
    margin: 0 auto;
    width: 720px;
    height: 600px;
    max-width: 720px;
  }

  .card {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 4px #DEDEDE;
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
  }
  
  .card img {
    width: 95%;
    height: 95%;
  }
  
  .card-face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .card-back-face {
      transform: rotateY(180deg);
    }
  
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card.is-inactive {
    opacity: 0;
  }

  .emails {
    font-size: 26px;
  }
  
  